<!-- unordered list-->
<ul>
    <!-- list item-->
    <li>
        <a href="/usuario/view/inicio">Inicio</a>
    </li>
    <li>
        <a href="/usuario/view/faq">FAQ</a>
    </li>
    <li>
        <a href="/usuario/view/login">Login</a>
    </li>
</ul>