<form action="/login" method="post">
    <label for="userID">User</label>
    <input id="userID"
           type="text"
           name="user">

    <label for="passwordID">Password</label>
    <input id="passwordID"
           type="password"
           name="password">

    <button type="submit">Log in</button>
</form>