<!DOCTYPE html>
<html>
<head>
    <!-- Config - Metadata -->
    <!-- Styles (CSS)-->
    <link rel="stylesheet" href="../../public/css/general-styles.css">
</head>
<body>
<!-- HTML Content -->
<p>Hello <%= name%>!</p>
<!-- Scripts -->
<script src="../../public/js/general-logic.js"></script>
</body>
</html>